/* Färgpalett
färgpalett:
#1a1919
#be000e
#f6f4f2
#002b6c
#011e2e
*/
body {
  margin:0;
}

.wallpaper {
  position: fixed;
  height: 100%;
  width: 100vw;
  z-index: -1;
}

.grid_columns {
  display: grid;
  z-index: 1;
  text-align: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 1fr 1fr;
}
.grid_columns div{
    padding:0px 0px 0px 0px;
    padding-top: 30px;


}

.grid_columns div img{
  width: 75%;
  object-fit: cover;

}

.text {
position: relative;
color: silver;
font-size: 18px;
top: 50%
}

.simon {
  grid-column: 2;
  grid-row: 2;
}

.kamphol {
  grid-column: 4;
  grid-row: 2;
  }

.kristina{
  grid-column: 2;
grid-row: 1;

}

.samira{
  grid-column: 3;
grid-row: 1;

}

.julian {
  grid-column: 4;
  grid-row: 1;
}

@media (max-width:600px){
  .grid_columns {
    grid-template-columns: 1fr 1fr;
  }
}

/*
@media (min-width:900px){
  .grid_columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
  */
