/* Färgpalett
färgpalett:
#1a1919
#be000e
#f6f4f2
#002b6c
#011e2e
*/
html, body {
  font-family: 'Montserrat' , sans-serif;
  margin:0;
}

.wallpaper {
  position: fixed;
  height: 100%;
  width: 100vw;
  z-index: -1;
}

.grid_columns {
  display: grid;
  position: absolute;
  z-index: 1;
  text-align: center;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 1fr;
  top: 15%;

}

.grid_rows {
  display: grid;
  position: absolute;
  z-index: 1;
  text-align: center;
  grid-template-columns: 30% 20% 0% 20% 30%;
  grid-template-rows: 1fr;
  top: 110%;
}

div img {
  width: 85%;
  height: 85%;
  object-fit: contain;
  padding-bottom: 5%
}

.text {
color: silver;
font-size: 110%;
margin-bottom:15%;
margin-top: -5%;
}

.kristina {
  grid-column: 2;
  grid-rows: 1;
}

.samira {
  grid-column: 3;
  grid-rows: 1;
}

.julian {
  grid-column: 4;
  grid-rows: 1;
}

.kamphol {
  grid-column: 2;
  grid-rows: 1;
}

.simon {
  grid-column: 4;
  grid-rows: 1;
}


@media (max-width:600px){
  .grid_columns {
    grid-template-columns: 1fr;
}
    .kristina {
      grid-column: 1;
      grid-rows: 1;
    }

    .samira {
      grid-column: 1;
      grid-rows: 2;
    }

    .julian {
      grid-column: 1;
      grid-rows: 3;
    }

    .kamphol {
      grid-column: 1;
      grid-rows: 4;
    }

    .simon {
      grid-column: 5;
      grid-rows: 1;
    }

  }
}

/*
@media (min-width:900px){
  .grid_columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
  */
