/* Färgpalett
färgpalett:
#1a1919
#be000e
#f6f4f2
#002b6c
#011e2e
*/
body {
  font-family: 'Shadows Into Light', cursive;
  width: 480px;
  height: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 125px;
  padding-bottom: 150px;
  text-align: center;
  background-color: #001c44;
  border: 4px solid black;
}

header {
  opacity: .0;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-rows: repeat(5, 500px);
}

p:nth-child(2) {
  position: relative;
  bottom: 13%;
  color: silver;
}

p:nth-child(3) {
  position: relative;
  bottom: 10%;
  color: silver;
}

.bak {
  z-index: -1;
  position: fixed;
  width: 480px;
  height: 90vw;
  top: 10%;
  opacity: 0.6;
  display: flex;
}
