.head{
  width:100%;
  height: 100px;
  position: fixed;
  top: 0em;
 background-color: 			black;
 opacity: 0.5;
left: 0;
font-family: ‘Shadows Into Light’, cursive;
/* animation: change 10s infinite; */

}
/* @keyframes change{
  0%  { background-color:#1a1919}
  25% { background-color:#be000e}
  50% { background-color:#f6f4f2}
  75% { background-color:#002b6c}
  100%{ background-color:#011e2e}
}*/

.logo{
  text-align:center;
  color:white;
  margin-top: -70px;
  font-family: ‘Shadows Into Light’, cursive;
  font-size: 50px;
}


.hitta_hit{
  margin-left:50px;
  height:50px;
  font-size:18px;
}


a{
  color: white;
}

ul{
  margin:0px;
  padding:0px;
  list-style:none;
margin-left: 350px;
}

 ul li{
background-color:black;
  float:left;
  height:40px;
  width:250px;
  text-align:center;
  line-height:40px;
  font-family: ‘Shadows Into Light’, cursive;

}


.logg_in{
font-size:14px;
color:white;
margin-top:-60px;
float: right;
margin-right: 100px;
}
.logg_in_bar{
margin-top: -30px;
float: right;
margin-right: 20px;

}
.logga_in_img{
  margin-top:-60px;
  float: right;
  margin-right: -300px;
}

.logg_contanier > li{
  width:0px;
  height:0px;
}
ul li ul li {
  display: none;
}
ul li:hover ul li{
display:inline-grid;
  background-color: black;
}


html body{
  height: 2000px;
  position: relative;
}

.countanier{
  height: 200px;
  right: 0px;
  left: 0px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid black;
font-family:  ‘Shadows Into Light’, cursive;
}
.socal_text{
margin-left: 36px;
font-size: 25px;

}
.socal_icon{
  position: absolute;
  bottom: 0px;
  margin-left: 30px;
}

.open_time{
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

.map{
  float:right;
  margin-top:-150px;
  margin-right: 50px;
}
