body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
}

h1, h2, h3 {
    font-family: "Roboto Condensed";
    font-weight: normal;
    color:#cbbcab
}
.width100 {
    width: 100%;
}
.centeralign{
    text-align: center;
}

summary::-webkit-details-marker {
    display: none
}
  
summary:after {
    float: left; 
    height: 20px;
    width: 20px;
    content: "+";
}
  
details[open] summary:after {
    content: "-";
}

.sami-input-number {
    width: 45px;
    height: 42px;
    line-height: 1.65;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #011e2e;
    border-radius: 5px;
}

#sami-addtocard-button{
    border: 1px solid #011e2e;
    border-radius: 5px;
    width: 50%;
    height: 40px;;
}

.sami-container {
    margin: 10%;
    width: 80%;
    padding: 10px;
}

.sami-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sami-grid-items{
    padding: 10px;
    margin: 10px;
}
.sami-thumbnail-div {
    display: grid;
    grid-template-rows: 1fr;
}
.sami-thumbnail-div img{
    width: 15%;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.sami-images{
    width: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
}


.container_footer {
    position: relative;
    width: 100%;
    height: 200px;
    /* right: 0px; */
    left: 0px;
    bottom: 0px;
    background-color: #011e2e;
    color: #f6f4f2;
    border-top: 1px solid black;
    font-family: ‘Shadows Into Light’, cursive;
  }
  @media (max-width:600px){
  .socal_text {
    margin-left: 36px;
    font-size: 100%
  }
  }
  
  
  .socal_icon{
    position: absolute;
    bottom: 0px;
  }
  
  
  .open_time {
    text-align: center;
    font-size: 100%;
    margin-top:-0.4em;
  width: auto;
  }
  
  .map {
  position: absolute;
  bottom: 1em;
  right: 0;
    margin-right: 10px;
  }
  

