/* Färgpalett
färgpalett:
#1a1919
#be000e
#f6f4f2
#002b6c
#011e2e
*/
  body{
      position: relative;
      padding: 0;
      width: 100%;
      background-color: #1a1919;
  }

/*----------- header ends here-----------*/


/*
body{
  position: relative;
} */
.container{
  margin-top: 130px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 250px;
}
.container img{
  width: 100%;
  height: 100%;
}
 /* div{
  / *border: 1px solid gray;* /
  border-radius: 0px;
  background-color: #011e2e;
  grid-gap: 0px;
  padding: 0px;
  / * opacity: 0.9; * /
}*/
div div:hover{
  border: 1px solid gray;
}

.container > div{
  position: relative;
  width: 100%;
  height: 250px;
  border-radius: 0px;
  background-color: #011e2e;
  grid-gap: 0px;
  padding: 0px;
}

.overlay{
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 1em;
  transition: .5s ease;
  opacity: 0.6;
}
.text{

  color: #cbbcab;
  font-size: 1em;
  position: absolute;
  width: 100%;
  top: 50%;

  /*bottom: 50%;*/
  text-align: center;
  transform: translateY(-50%);
}
